<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>HITSDB</title>
    <link href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="主页" href="/">home</a></span>
    <span><a title="添加" href="/put">添加</a></span>
    <span><a title="查询" href="/query">查询</a></span>
</nav>

<article>