
</div><!--/.row -->
</div><!--/.container-->
</div><!--/.container wrap-->
</div><!--/.wrap-->
<footer id="footer" class="footer">
    <p>&copy; Yeepay 2014</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/javascripts/jquery.js" charset="UTF-8"></script>
<script src="/javascripts/jquery.dataTables.min.js" charset="UTF-8"></script>
<script src="/javascripts/jquery-ext-tsdb.js" charset="UTF-8"></script>
<script src="/javascripts/Highcharts/js/highcharts.js" charset="UTF-8"></script>
<script src="/javascripts/Highcharts/js/modules/exporting.js" charset="UTF-8"></script>
<script src="/bootstrap/js/bootstrap.min.js" charset="UTF-8"></script>
<script src="/javascripts/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script src="/javascripts/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/javascripts/dataTables.bootstrap.js" charset="UTF-8"></script>
<script src="/javascripts/moment.js" charset="UTF-8"></script>
<script src="/javascripts/bootstrap-paginator.min.js" charset="UTF-8"></script>
<script src="/javascripts/showcharts.js" charset="UTF-8"></script>
</body>
</html>