<div class="span2 sidebar">
    <ul class="nav nav-tabs nav-stacked nav-sidebar">
        <li><a href="/tsdb" class="query_chart" ><i class="icon-chevron-right"></i> TSDB(测试)</a></li>
        <li><a href="/risk_event" ><i class="icon-chevron-right"></i> 系统可用性</a></li>
    </ul>
</div>